body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ensure the container is centered vertically */
  background-image: url('./src/img.jpg');
  /* Replace 'background.jpg' with your desired image */
  background-size: cover;
  background-position: center;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  /* Add transparency for a softer look */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Add text shadow for better visibility */
}

textarea {
  width: calc(100% - 40px);
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#resultTextArea {
  width: calc(100% - 40px);
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

button {
  width: calc(50% - 20px);
  margin: 5px;
  padding: 10px;
  background-color: #bcab9d;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #dee7df;
  /* Darken button crgb(244, 247, 244) hover */
}